body{
    font-family: Copperplate;
    background-color: white;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 100px;
}
header > nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    background-color: lightgrey;
    border-radius: 20px;
}
header > nav > ul > li {
    margin-left: 50px;
    margin-right: 50px;
}
header > h1 {
    font-size: 4rem;
    margin: 0;
    background-color: lightgrey;
    border-radius: 20px;
    padding: 20px;
    color: steelblue;
}
header > nav > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}
#main {
    background-color: grey;
    background-position: center;
    border-radius: 1000px;
    padding-bottom: 70px;
    padding-top: 15px;
}
#main > #jafoto {
    text-align: center;
}
#main > div > img {
    border-radius: 40px;
    border: 5px black solid;
}
#omně {
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    cursor: pointer;
}
#mojezajmy > h1 {
    font-size: 3rem;
}
#mojezajmy > ul {
    list-style-type: circle;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}
#pingpong {
    text-decoration: line-through;
    background-color: whitesmoke;
    border-radius: 20px;
}
#skate {
    background-color: grey;
    border-radius: 20px;
}
#trav {
    background-color: lightgrey;
    border-radius: 20px;
}
#music {
    background-color: darkgrey;
    border-radius: 20px;
}
#program {
    background-color: dimgrey;
    border-radius: 20px;
}
footer > ul {
    list-style: none;
}
footer > ul > li {
    display: inline-block;
}